@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background-image: url(../_imagens/radio-tv.png);
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 255px;
    height: 30px;
}

video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 125px;
    width: 440px;

}